* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

html,
body,
#container {
    height: 100%;
}

#container {
    background: #513E90;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 0 0 2rem 0;
}

.main {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    height: 78%;
    width: 100%;
}

.main .line-up {
    height: 20rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 12rem;
}

.main .line-up img {
    min-width:11rem;
    width: 43vw;
}

.main .line-up p {
    color: rgba(255, 255, 255, 0.904);
    font-family: 'Nunito', sans-serif;

    font-size: clamp(1.6rem, 3.2vw, 4rem);
}

.main .line-up p span {
    font-weight: 700;
}

.main .nav {
    min-width: 15rem;
    max-width: 50rem;
    width: 60%;

    display: flex;
    justify-content: space-between;


}

.main .nav a img{
    min-height: 5rem;
    max-height: 8rem;
    height: 10vw;
}

.footer {
    margin-bottom: 2rem;
}

.footer a {
    color: rgba(255, 255, 255, 0.904);
    font-size: clamp(1.45rem, 3vw, 2rem);
    font-family: 'Open Sans', sans-serif;
}

.footer a:hover:hover {
    color: rgba(255, 255, 255, 0.685);
}